@font-face {
  font-family: inter_font;
  src: url(/inter-font/Inter-VariableFont_slnt,wght.ttf);
}

body {
  font-family: inter_font;
}

:root {
  --blue: #042e3c;
  --yellow: #ffd218;
  --transparent_blue: rgba(4, 46, 60, 0.6);
}

* {
  transition: 0.4s ease all;
  box-sizing: border-box;
  margin: 0 !important;
}

.second-card {
  cursor: pointer;
}

.second-card:hover {
  transform: scale(1.05);
}

.first {
  cursor: pointer;
}

.first:hover {
  opacity: 0.9;
}

.contact {
  cursor: pointer;
}

.contact:hover {
  opacity: 0.6;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.footer {
  background-image: url(./img/Group11.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header {
  background-image: url(./img/flood-keke-1.png) !important;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-back {
  background: url(./img/back-button-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.phoneLink {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.phoneLink p {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  padding-left: 0.5rem;
}

.hoverNavLink:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.grey-bg {
  background: #e6eaee;
}

.light-green-bg {
  background: #61ed80;
}

.new_blue_bg {
  background-color: #042e3c;
}

.new_darkblue_bg {
  background-color: #495667;
}

.new_blue_color {
  color: #042e3c;
}

.new_yellow_bg {
  background-color: #ffd218;
}

.new_yellow_color {
  color: #ffd218;
}

.form-select option:hover {
  background-color: #042e3c;
  color: white;
}

.slide-text {
  /* background-color: var(--transparent_blue); */
  background-color: rgba(0, 0, 0, 0.7);
}


.navbar-toggler {
  color: white;
}

.light_bg {
  background-color: #e8f2f6;
}

.light_blue_text {
  color: #217a7e;
}

.modal {
  text-align: center;
}

.modal::before {
  display: inline-block;
  vertical-align: middle;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* Header And Header Links */
.header_links_container {
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 10px 95px;
  /* background-color: #515252; */
  /* background-color: rgba(0, 0, 0, 0.055); */
  background: linear-gradient(rgba(81, 82, 82, .7), rgba(255, 255, 255, 0.032));
  width: 100%;
  color: #fff;
  font-weight: 900;
}

.navbar-light.border-bottom.border-white {
  border-bottom: 3px solid #2eb390 !important;
}

.new_green_bg {
  background-color: #2eb390;
}

.slide-text.mx-lg-5.p-lg-4.p-4.w-100.w-lg-25 {
  width: 30% !important;
}

/* HOME CARDS */
.home_card_container {
  overflow: hidden;
  z-index: 10;
  position: relative;
  margin: 150px auto;
  height: 120px;
  width: 450px;
  background-color: #F17022;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/*  BACKGROUND  */

.Circle1 {
  z-index: 100;
  position: absolute;
  height: 80px;
  width: 80px;
  right: -20px;
  top: -30px;
  border-radius: 50%;
  background-color: rgba(253, 184, 19, 1);
  animation: enlarge;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.Circle2 {
  z-index: 80;
  position: absolute;
  height: 150px;
  width: 150px;
  right: -50px;
  top: -70px;
  border-radius: 50%;
  background-color: rgba(246, 140, 31, 0.7);

  animation: enlarge;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.Circle3 {
  z-index: 50;
  position: absolute;
  height: 200px;
  width: 200px;
  right: -50px;
  top: -100px;
  border-radius: 50%;
  background-color: rgba(241, 125, 45, 0.7);

  animation: enlarge;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}



/*  CONTENT  */

.sun {
  z-index: 1000;
  font-size: 15px !important;
}

.Condition {
  z-index: 1000;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 20px;
  left: 20px;
  top: 10px;
}

.Temp {
  z-index: 1000;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 400;
  left: 20px;
  bottom: 5px;
}

#F {
  z-index: 1000;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 30px;
}


.Time {
  z-index: 1000;
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 200;
  right: 20px;
  top: 10px;
}

.locationIcon {
  z-index: 1000;
  font-size: 10px !important;
}

.Location {
  z-index: 1000;
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 200;
  right: 20px;
  bottom: 15px;
}

@keyframes enlarge {
  50% {
    transform: scale(1.2);
  }
}

/* ****** */